<!-- login form -->
<form class="login-form">
  <h2>Login</h2>
  <div>
    <label for="username-login">username:</label>
    <input type="text" id="username-login" />
  </div>
  <div>
    <label for="password-login">password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit">Login</button>
    <div>
      <a href="/signup">Sign-up instead</a>
    </div>
  </div>
</form>

<script src="/javascript/login.js"></script>