<form class="signup-form">
    <h2>Sign up</h2>
    <div>
        <label for="username-login">username:</label>
        <input type="text" id="username-login" />
    </div>
    <div>
        <label for="password-login">password:</label>
        <input type="password" id="password-login" />
    </div>
    <div>
        <button type="submit">Sign up</button>
        <div>
            <a href="/login">Login instead</a>
        </div>
    </div>
</form>

<script src="/javascript/login.js"></script>